<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header>
        <!--<nav>
            <ul role="list">
              <li><a href="/">Cooper Hollmaier</a></li>
              <li><a href="#">Writing</a></li>
              <li><a href="#">Speaking</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>-->
  </header>
  <main>
        <h1>{{title}}</h1>
        {{ content | safe }}
  </main>
<footer>
  <p>&copy; 2023 Cooper Hollmaier</p>
</footer>
</body>


</html>