<nav>
  <ul role="list">
    <li><a href="/">Home</a></li>
    <li><a href="/talks/">Talks</a></li>
    <li><a href="/posts/">Posts</a></li>
  </ul>
    {% for page in collections.pages %}
    <li>
      <a 
        {% if currentUrl === page.url %}aria-current="page"{% endif %} 
        href="{{ page.url }}">
          {{ page.data.title }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</nav>