{% set currentUrl %}{{ page.url }}{% endset %}

<nav>
  <ul role="list">
    <li>
      <a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/">Home</a>
      <a {% if currentUrl === '/about/' %}aria-current="page"{% endif %} href="/about/">About</a>
      <a {% if currentUrl === '/talks/' %}aria-current="page"{% endif %} href="/talks/">Talks</a>
      <a {% if currentUrl === '/writing/' %}aria-current="page"{% endif %} href="/writing/">Writing</a>
    </li>

    {% for page in collections.pages %}
    <li>
      <a 
        {% if currentUrl === page.url %}aria-current="page"{% endif %} 
        href="{{ page.url }}">
          {{ page.data.title }}
      </a>
    </li>
    {%- endfor %}
  </ul>
</nav>