<!DOCTYPE html>
<html lang="en">

<section class="profile-container">
    <div class="profile-column left">
        <img src="\img\cooper-hollmaier-2021.jpg" alt="Cooper Hollmaier" class="profile-photo" style="width:50%;">
    </div>
    </div>
    <div class="profile-column right ">
        <section class="about-section ">

            <div class="about-content ">
                <p class="profile-heading">Cooper Hollmaier</p>
                <p clas="profile-subheading">
                    Product Leader and Systems Thinker
                </p>
                <p>I'm a Product Leader with a proven track record of transforming complex customer and business challenges into strategic successes.</p>

            </div>
        </section>
    </div>
</section>


</html>