<!DOCTYPE html>
<html lang="en">
<section class="profile-container">
        <div class="profile-column left">
            <img src="\img\cooper-hollmaier-old-fall-river-rd-2024.JPG" alt="Cooper Hollmaier" class="profile-photo">
            <figcaption class="photo-caption">
                Rocky Mountain National Park, 2024,
                <span class="photo-credit">Photo by Sean Meehan</span>
            </figcaption>
            <div class="cta-buttons">
                <a href="\docs\cooper-hollmaier-resume-2025-online.pdf" class="cta-button resume">View Resume</a>
            </div>
        </div>

        <div class="profile-column right">
            <section class="about-section">

                <div class="about-content">
                    <p>
                        I'm a Product Leader with a proven track record of transforming complex customer and business challenges into strategic successes.
                    </p>
                    <p>
                        With nearly 10 years of experience in serving online customers, I bring extensive expertise in technical SEO, accessibility, and digital product strategy.
                    </p>
                    <p>
                        Currently, I am at <a href="https://www.rei.com">Recreational Equipment, Inc. (REI)</a>, a consumer co-operative, where I drive the strategic vision for the REI.com landing page portfolio and navigation.
                    </p>
                    <p>
                        I hold a Bachelor of Science degree in Journalism and Mass Communication from Iowa State University, a Professional Certificate in Retail and Omnichannel Management from Dartmouth College, and am a Certified Professional in Accessibility Core Competencies
                        (CPACC).
                    </p>
                </div>
            </section>
        </div>
    </section>
</html>