<!DOCTYPE html>
<html lang="en">
<div style="border-style: solid;
border-width: 1px 0;
border-color: #FFF;">
<p style="padding-top:1rem;padding-bottom:.5rem;
">
"...Cooper is a natural at aligning cross-functional teams, earning the respect and trust of his partners every step of the way. His product instincts and strategic thinking consistently deliver impressive results..."</p>
<p style="padding-bottom:1rem;color:lightgrey;">
Christie Gage, Principal Product Manager @ REI
</p>
</div>
</html>