---
layout: page.njk
title: Cooper Hollmaier | Product Manager, Author, Speaker
---
<h1>Hey, my name is Cooper.</h1>

<p>I'm a customer-obsessed technical product manager working on accessibility. I have a
deep passion for building products that are intuitive, human-centered, usable, and
accessible by default. When I'm not working remotely, you'll find me reading, traveling,
trying new food, or getting outside.</p>


<p>I occasionally write <a href="">posts</a> and give <a href="">talks</a> on accessibility, digital transformation, product management, and remote work.
If you're interested in me contributing to your publication or event, please check out my <a href="">speaker rider</a> first.</p>

<h2>My latest work</h2>
  <ul>
    <li><a href="">Accessibility Strategies for Retail Organizations</a></li>
    <li><a href="">Convincing Your Business to Invest in Accessibility</a></li>
    <li><a href="">Myth: SEO and Accessibility</a></li>
  </ul>

<p>Previous to finding my passsion for accessbility, I supported search engine optimization at 
organizations large and small. I teach an introductory class on search engine optimization for
journalism students at Iowa State University.</p>
