:root {
    --color-bg: #222;
    --color-text: white;
    --color-link: lightblue;
    --layout-spacing: max(8vh, 3rem);
    --max-width: 70ch;
    --padding-default: clamp(1rem, 5vw, 3rem);
}


/* Base styles */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5vh var(--padding-default) 1rem;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    background-color: var(--color-bg);
    color: var(--color-text);
}


/* Layout */

body>* {
    width: min(100%, var(--max-width));
    margin-inline: auto;
}


/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 1rem;
}


/* Typography */

 :is(h1, h2, h3) {
    line-height: 1.2;
}

 :is(h2, h3):not(:first-child) {
    margin-top: 2em;
}

article *+* {
    margin-top: 1em;
}

a {
    color: var(--color-link);
    text-underline-offset: 0.15em;
}


/* Footer */

.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
    color: var(--color-text);
}

.footer-column {
    flex: 1;
    min-width: 250px;
}

.footer-column-left {
    text-align: left;
}

.footer-column-right {
    text-align: right;
}

.footer-column a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #ddd;
}


/* Mobile styles */

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
    .footer-column {
        margin-bottom: 2px;
    }
    .footer-column-left,
    .footer-column-right {
        text-align: center;
    }
}